.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}


.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #555;
}

.axis line {
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}

.axis .axis-label {
    font-size: 14px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.dot {
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
}

.dot:hover {
    stroke: rgba(68, 127, 255, 0.3)
}

div.tooltip {
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
}