{% extends "layout.html" %}
{% block body %}
<br>
<h3> Previous queries </h3>
{% if hist != [] %}
<table cellspacing='0'>
<thead>
  <tr>
    <th> Start </th>
    <th> End </th>
    <th> Companies </th>
    <th> Granularity </th>
  </tr>
</thead>
<tbody>
{% for q in hist %}
{% if q[4] == 0 %}
  <tr>
{% else %}
  <tr class="even">
{% endif %}
    <td> {{ q[0] }} </td>
    <td> {{ q[1] }} </td>
    <td> {{ q[2] }} </td>
    <td> {{ q[3] }} </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
 No queries so far!
{% endif %}
<br><br>
<a href="{{ url_for('index') }}"> <i> Go back to analyzing</i> </a>
{% endblock %}
