{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
window.onload = function() {
 var chart = new CanvasJS.Chart("chartContainer",
  {
   title:{ text: "Volatility" },
   axisX: { gridColor: "Silver", tickColor: "silver" },
   toolTip: { shared:true },
   theme: "theme2",
   axisY: { gridColor: "Silver", tickColor: "silver", interlacedColor: "#F5F5F5" },
   legend: { verticalAlign: "center", horizontalAlign: "right" },
   data: [
{% for result in results %}
    {
      type: "line",
      showInLegend: true,
      lineThickness: 2,
      name: "{{ result.sym }}",
      color: "#"+((1<<24)*Math.random()|0).toString(16),
      dataPoints: [
{% for data in result.res %}
         { label: "{{ data.d }}", y: {{ data.val}} },
{% endfor %}
      ]
    },
{% endfor %}
   ] } );
chart.render();
}

</script>

<a style="font-variant:small-caps; text-decoration:none;" href="{{ url_for('history') }}"> Historical queries </a><br>

<!--  &nbsp;&nbsp;| &nbsp;&nbsp; 
<a style="font-variant:small-caps; text-decoration:none;" href="{{ url_for('query_index') }}"> Query index </a>
<br>

<br>
  <form action="{{ url_for('query') }}" method="post">
    Input Query:&nbsp;<input style="height:25px" type="text" size="30" name="query">
    <input type="submit" value="Submit">
  </form>
<br>
-->
{% if errmsg != '' %}
<a style="color:red; font-style:italic;"> {{ errmsg }} </a> <br>
{% endif %}

<form id=analysis action="{{ url_for('query') }}" method="post">
<fieldset>
<!--<legend> Analysis information </legend>-->
<ol>
  <li>
    <label for="maincomp"><b>Company</b> </label><br>
    <input id="maincomp" name="maincomp" type=text placeholder="Enter ticker symbol" required autofocus>
  </li>
  <li>
    <label for="sdate"><b>Starting:</b></label> <br><input type="date" name="sdate" required><br>
    <label for="edate"><b>Ending:</b></label> <br><input type="date" name="edate" required><br>
  </li>
  <li>
      <label for="comps"><b>Comparison companies (seperated by ';' )</b></label>
      <textarea id="comps" name="comps" type=text required></textarea>
  </li>
  <li> <label for="granularity"><b>Data Granularity</b> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </label>
    <input type="radio" name="granularity" id="daily" value="daily" checked><b> Daily</b> 
    <input type="radio" name="granularity" id="weekly" value="weekly"> <b>Weekly</b>
    <input type="radio" name="granularity" id="yearly" value="yearly"> <b>Yearly</b>
    <div id="ifIntraDay" style="display:none">
      Please specify top cut-off: <input type="text" id="cutoff" name="cutoff" value="10"> %
    </div>
  </li>
</ol>
</fieldset>
<fieldset>
  <button type=submit>Run Query!</button>
</fieldset>
</form>


{% if prevq != '' %}
<b> {{ prevq }} </b>:
<br><br>
<br>
<div id="chartContainer" style="height: 300px; width: 100%;"> </div>


{% endif %}

{% endblock %}
