<!doctype html>
<head>
<title> Feni Chawla Insight Project </title>
<script type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graph.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='formstyle.css') }}">
<div class="page">
  <h1>Tool for analyzing stock behavior</h1>
<!--  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...because greed is good! </h2> -->
  <br>
  <br>

{% block body %}{% endblock %}
</div>
